[submodule "tmux/tmux-onedark-theme"]
  path = tmux/tmux-onedark-theme
  url = git@github.com:odedlaz/tmux-onedark-theme.git

[submodule "tmux/tmux-gruvbox"]
  path = tmux/tmux-gruvbox
  url = git@github.com:egel/tmux-gruvbox.git
