[submodule "tmux/tmux-onedark-theme"]
  path = tmux/tmux-onedark-theme
  url = https://github.com/odedlaz/tmux-onedark-theme.git

[submodule "tmux/tmux-gruvbox"]
  path = tmux/tmux-gruvbox
  url = https://github.com/egel/tmux-gruvbox.git

[submodule "tmux/tmux-themepack"]
	path = tmux/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "tmux/tmux-tomorrow"]
	path = tmux/tmux-tomorrow
	url = https://github.com/edouard-lopez/tmux-tomorrow.git
[submodule "tmux/nord-tmux"]
	path = tmux/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule "spaceship-prompt"]
	path = zsh/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
