[submodule "tmux/tmux-onedark-theme"]
  path = tmux/tmux-onedark-theme
  url = https://github.com/odedlaz/tmux-onedark-theme.git

[submodule "tmux/tmux-gruvbox"]
  path = tmux/tmux-gruvbox
  url = https://github.com/egel/tmux-gruvbox.git

[submodule "tmux/tmux-themepack"]
	path = tmux/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
